{%extends 'users/form_layout.html'%}

{% block content %}

<div class="row" id="form2" >
    <div class="col-md-12" id="bground2">
        <form class="px-4 py-3" action="{{url_for('studentregform')}}" method="post">
            {% set m = get_flashed_messages(with_categories=True) %} 
            {% if m: %}
            {% for cat,msg in m %}
               {% if cat =="error" %}
                <div class="alert alert-danger">{{ msg }}</div>
               {% else %}
               <div class="alert alert-info">{{ msg }}</div>
               {% endif %}
            {% endfor %}
            {% endif %}

            <div class="form-group">
                {{ studentregform.csrf_token() }}
              
                {{studentregform.firstname(class_="form-control mb-3" ,placeholder="First Name")}}
              
            </div>
            <div class="form-group">
           
                {{studentregform.middlename(class_="form-control mb-3" ,placeholder="Middle Name")}}
                
            </div>
          
            <div class="form-group">
           
                {{studentregform.lastname(class_="form-control mb-3" ,placeholder="Last Name")}}
                
            </div>

            <div class="form-group">
                
                {{studentregform.classname(class_="form-control mb-3" ,placeholder="Enter Student class")}}
                <!-- <select name="select" id="">
                    <option value="">Select class</option>
                    <option value="1">Primary 1</option>
                    <option value="2">Primary 2</option>
                </select> -->
                
            </div>

            <div class="form-group">
           
                {{studentregform.dateofbirth(class_="form-control mb-3" ,placeholder="Date of Birth")}}
                
            </div>

            <div class="form-group">
           
                {{studentregform.parentphoneno(class_="form-control mb-3" ,placeholder="Parent Phone Number")}}
                
            </div>
            {{studentregform.btnsubmit(class_="form-control btn btn-success")}}
            
        </form>
    </div>
</div>




   
{% endblock %}